body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #eee;
}

.bg-gray {
  width: 100%;
  text-align: center;
  padding: 0 3.12rem;
}

h1 {
  font-size: 3rem;
}

main {
  text-align: center;

  background-color: white;
}

h2 {
  text-align: center;
  font-size: 1.18rem;
}

ul {
  max-width: 34.3rem;
  margin: 0 auto 3.12rem;
  text-align: left;
  line-height: 1.6;

}

li {

  line-height: 1.6;
  width: 34.37rem;

}

.epig {
  font-style: italic;
  text-align: left;
  max-width: 34.37rem;
  margin: 0 auto 3.12rem;
}

footer {
  padding-bottom: 3.56rem;
  text-align: center;
}

@media screen and (max-width:576px) {
  main {
    height: 20.31rem;
  }

  li {
    width: 23.37rem;
  }
}

@media screen and (min-width:576px) and (max-width:576px) {
  main {
    height: 25.31rem;
  }
}